<!-- templates/pages/home.html -->
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Filter And Search</title>
    <script src="{% static 'js/all.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <nav class="nav">
        <div class="nav-logo">
            <p>BookHub</p>
        </div>
        <div class="nav-menu" id="navMenu">
            <ul>
                <li><a href="{% url 'home' %}" class="link">Home</a></li>
                <li><a href="{% url 'about' %}" class="link">About</a></li>
                <li><a href="{% url 'signup' %}" class="link">SignUp</a></li>
                <li><a href="{% url 'login' %}" class="link">logIn</a></li>
                <li><a href="{% url 'login' %}" class="link">logout</a></li>
            </ul>
        </div>
    </nav>

    <div class="beforesearch">
        <img class="beforesearchimg" src="{% static 'images/homeimg.jpeg' %}" alt="image">
        <div class="welcome-content">
            <h2>Welcome to our online Library.</h2>
            <p>“The more that you read, the more things you will know. The more that you learn, the more places you’ll go.”</p>
        </div>
    </div>
    <div class="wrapper">
        <div id="search-container">
            <input type="search" id="search-input" placeholder=" Search ..." />
            <button id="search">Search</button>
        </div>
        <div id="buttons">
            <button class="button-value" onclick="filterProduct('all')">All</button>
        </div>
        <div id="products">
            {% for book in books %}
            <div class="product-item">
                <div class="product-image">
                    {% if book.cover_photo %}
                   <a href="{% url 'bookpg'%}" ><img src="{{ book.cover_photo.url }}" alt="{{ book.title }}" class="book-cover"></a>
                    {% else %}
                    <div class="placeholder-cover">No Cover</div>
                    {% endif %}
                </div>
                <div class="product-details">
                    <h3>{{ book.title }}</h3>
                    <h5>Category: {{ book.category }}</h5>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
{% endblock content %}
